<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hemifunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fbdcaeb0-e2d1-4105-9913-1ae0ec441907/resourcegroups/hemifunctions/providers/Microsoft.Web/sites/hemifunction</ResourceId>
    <UserName>$hemifunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://hemifunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>